<MudStack Spacing="1" Row Class="pb-2" Wrap="Wrap.NoWrap">
    @foreach (var col in State.GameState.Preset.Columns)
    {
        <MudCard Outlined Class="node-square node-header">
            <MudCardContent Class="node-square-content">
                <MudText Align="Align.Center" Typo="Typo.h5">
                    <span class="node-text">@col.Name</span>
                </MudText>
            </MudCardContent>
        </MudCard>
    }
</MudStack>

@for (int row = 0; row < State.Card.Cells.GetLength(1); row++)
{
    var cRow = row;
    <MudStack Spacing="1" Row Class="pb-1" Wrap="Wrap.NoWrap">
        @for (int col = 0; col < State.Card.Cells.GetLength(0); col++)
        {
            var cell = State.Card.Cells[col, cRow];
            <PlayerCardCell Cell="cell" />
        }
    </MudStack>
}

@code {
    [CascadingParameter]
    public PlayerState State { get; set; } = default!;
}
