<div @onclick="Mark" class="@ClickableClass">
    <NodeSquare Node="Cell.Node" Selected="Cell.IsMarked" />
</div>

@code {
    [CascadingParameter]
    public PlayerState State { get; set; } = default!;

    [Parameter, EditorRequired]
    public PlayerCardCellData Cell { get; set; } = default!;

    private bool CanMark => State.GameState.State is GameStateEnum.Active or GameStateEnum.FinalCountdown;

    private string ClickableClass => CanMark ? "node-clickable" : "";

    private void Mark()
    {
        if (CanMark)
        {
            State.Mark(Cell.Col, Cell.Row);
        }
    }
}
