<table class="dl-table">
    <tr>
        <th>Game State</th>
        <td>@Game.StateDisplayValue</td>
    </tr>
    @if (Game.ShowTimer)
    {
        <tr>
            <th>Game Timer</th>
            <td>@TimeSpan.FromSeconds(Game.GameTimer).ToStringHoursOptional()</td>
        </tr>
    }
    @if (Game.WinningPlayers.Count > 0)
    {
        <tr>
            <th>@(Game.WinningPlayers.Count == 1 ? "Winner" : "Winners")</th>
            <td>@string.Join(", ", Game.WinningPlayers.Select(x => x.PlayerName))</td>
        </tr>
    }
</table>

@code {
    [CascadingParameter]
    public GameState Game { get; set; } = default!;
}
