@if (isEdit)
{
    <div class="row">
        <div class="col-9">
            <TextEdit @bind-Text="@value" />
        </div>
        <div class="col-3">
            <Tooltip Text="Save">
                <Button Clicked="Save"><Icon Name="IconName.Save" /></Button>
            </Tooltip>
            <Tooltip Text="Cancel">
                <Button Clicked="() => isEdit = false"><Icon Name="IconName.Undo" /></Button>
            </Tooltip>
            
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-9">@Value</div>
        <div class="col-3">
            <Tooltip Text="Edit">
                <Button Clicked="() => isEdit = true"><Icon Name="IconName.Pen" /></Button>
            </Tooltip>
            <Tooltip Text="Delete">
                <Button Clicked="Delete"><Icon Name="IconName.Delete" /></Button>
            </Tooltip>
        </div>
    </div>
}


@code {
    [Parameter]
    public int Id { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public Func<int, string, Task>? OnSave { get; set; }

    [Parameter]
    public Func<int, Task>? OnDelete { get; set; }

    private string value = "";

    private bool isEdit;

    protected override void OnInitialized()
    {
        value = Value ?? "";
    }

    private async Task Save()
    {
        if (OnSave != null)
        {
            await OnSave.Invoke(Id, value);
            isEdit = false;
        }
    }

    private async Task Delete()
    {
        if (OnDelete != null)
            await OnDelete.Invoke(Id);
    }
}
