.dl-table {
    text-align: left;
}

    .dl-table th {
        padding-right: 30px;
    }

    .dl-table th, .dl-table td {
        padding-bottom: 5px;
    }

.icon-inline {
    margin-bottom: -7px;
    margin-right: 4px;
}

.icon-inline-select {
    margin-bottom: -4px;
    margin-right: 4px;
}

.node-clickable {
    cursor: pointer;
    user-select: none;
}

.node-square {
    width: 100%;
    max-width: 150px;
    aspect-ratio: 1/1;
    padding: 4px;
}

    .node-square .node-square-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: var(--mud-default-borderradius);
        padding: 0;
        overflow: hidden;
    }

    .node-square .node-text {
        border-radius: 30px;
        padding: 2px 6px;
        min-width: 36px;
        color: var(--mud-palette-primary-text);
        background-color: rgba(39,39,47,0.4);
    }

    .node-square.node-selected .node-text {
        background-color: var(--mud-palette-primary);
    }

    .node-square.node-header {
        background-color: var(--mud-palette-info-hover);
        max-height: 110px;
        height: auto;
        aspect-ratio: auto;
    }

    .node-square.node-header .node-text {
        background-color: initial;
        color: var(--mud-palette-text-primary);
    }

    .node-highlighted, .node-selected {
        background-color: var(--mud-palette-primary-hover);
    }

.node-square .node-square-content .node-badges {
    align-self: flex-end;
}

    .node-square .node-square-content .node-badges .node-badge {
        padding: 0 6px;
        margin: 0;
        height: 20px;
        min-width: 20px;
        opacity: 0.9;
    }
