.mud-input-label {
    overflow: initial;
}

.dl-table {
    text-align: left;
}

.dl-table th {
    padding-right: 30px;
}

.dl-table th, .dl-table td {
    padding-bottom: 5px;
}

.icon-inline {
    margin-bottom: -7px;
}

.icon-inline-select {
    margin-bottom: -4px;
    margin-right: 4px;
}

.clickable {
    cursor: pointer;
    user-select: none;
}

.node-square {
    width: 150px;
    aspect-ratio: 1;
    padding: 4px;
}

.node-square .node-square-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: var(--mud-default-borderradius);
    padding: 0;
    overflow: hidden;
}

.node-square .node-text {
    padding: 0 2px 2px 2px;
    color: white;
    line-height: 1.05;
    font-size: 1.3rem;
    letter-spacing: .01rem;
    text-shadow:
            0.05em 0 black,
            0 0.05em black,
            -0.05em 0 black,
            0 -0.05em black,
            -0.05em -0.05em black,
            -0.05em 0.05em black,
            0.05em -0.05em black,
            0.05em 0.05em black;
}

@media (max-width: 768px) {
    #q-list .node-square {
        width: 22vw;
    }

    .node-square .node-text.mud-typography-h6 {
        font-size: 2.6vw;
    }

    .node-square .node-matched .mud-avatar.mud-avatar-medium {
        width: 5vw;
        height: 5vw;
    }

    .node-square .node-badges .node-badge {
        font-size: 2vw;
        padding: 0 1vw;
        height: 3vw;
    }
}

.node-square.node-header {
    background-color: var(--mud-palette-info-hover);
    max-height: 110px;
    height: auto;
    aspect-ratio: auto;
}

.node-square.node-header .node-text {
    background-color: initial;
    text-shadow: none;
    color: var(--mud-palette-text-primary);
}

.node-primary {
    background-color: var(--mud-palette-primary);
    border: 4px solid var(--mud-palette-primary);
    padding: 0;
}

.node-success {
    background-color: var(--mud-palette-success);
    border: 4px solid var(--mud-palette-success);
    padding: 0;
}

.node-error {
    background-color: var(--mud-palette-error);
    border: 4px solid var(--mud-palette-error);
    padding: 0;
}

.node-warning {
    background-color: var(--mud-palette-warning);
    border: 4px solid var(--mud-palette-warning);
    padding: 0;
}

.node-square .node-square-content .node-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.node-square .node-square-content .node-badges .node-badge {
    margin: 2px;
    opacity: 0.9;
}

.mud-chip.chip-xs {
    padding: 0 6px;
    height: 20px;
    min-width: 20px;
}

.pack-card {
    max-width: 300px;
    width: 100%;
    aspect-ratio: 3/4;
    padding: 4px;
    box-sizing: initial;
}

.pack-card.mud-paper-outlined {
    border: 4px solid var(--mud-palette-primary);
    padding: 0;
}

.pack-card.mud-paper-outlined .mud-card-media {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.pack-card .pack-default-image {
    height: 300px;
    background-color: var(--mud-palette-text-primary);
    mask: url(media/box.svg) no-repeat 50% 50%;
    mask-size: 80%;
}

.q-list-container-col {
    max-height: 640px;
}

.q-list-container-col #q-list {
    height: fit-content;
    max-height: 100%;
}

#q-list {
    width: fit-content;
    max-width: 100%;
}

#q-list .node-square {
    scroll-margin-top: 70px;
    flex-shrink: 0;
}

.fab-br {
    bottom: 16px;
    right: 16px;
    opacity: 1;
    position: fixed;
    z-index: 100;
}

.mw-100 {
    max-width: 100%;
}

.components-reconnect-dialog {
    background-color: var(--mud-palette-surface);
    color: var(--mud-palette-text-primary);
    border-radius: var(--mud-default-borderradius);
}

.mud-nested-list > .mud-list-item.mud-nested-list-lvl2 {
    padding-right: 16px;
}

.mud-nested-list > .mud-list-item.mud-nested-list-lvl2 + .mud-collapse-container {
    padding-left: 16px;
}

.game-timer {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.game-timer .game-timer-progress-background {
    position: absolute;
    opacity: 0.2;
}

.game-timer .game-timer-progress {
    z-index: 10;
}

.game-timer .game-timer-value {
    position: absolute;
    top: 18px;
}

.game-timer .mud-progress-circular-svg {
    overflow: visible;
}

.q-logo {
    height: 48px;
    aspect-ratio: 1;
    background-color: var(--mud-palette-appbar-text);
    mask: url(favicon.svg) no-repeat 50% 50%;
    mask-size: 80%;
}

.unpadx-4 {
    max-width: initial;
    width: calc(100% + 32px);
    margin-left: -16px;
}

.blinking-icon {
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0.3;
    }
}