@inject FileStoreService Files

<MudCard Class="@CardClass">
    <MudCardContent Class="node-square-content" Style="@ImageStyle">
        <MudText Align="Align.Center" Typo="Typo.h6">
            <span class="node-text">@(Node?.Name ?? "FREE")</span>
        </MudText>
    </MudCardContent>
    <MudBadge BadgeClass="z-10" Color="Color.Tertiary" Overlap Origin="Origin.BottomRight"
              Visible="ShowTagsBadge && BadgeText != null" Content="@BadgeText">
    </MudBadge>
</MudCard>

@code {
    [Parameter, EditorRequired]
    public Node? Node { get; set; }

    [Parameter]
    public bool Highlighted { get; set; }

    [Parameter]
    public bool Selected { get; set; }

    [Parameter]
    public bool ShowTagsBadge { get; set; }

    private string? ImageStyle => string.IsNullOrEmpty(Node?.ImageUrl) 
        ? null 
        : $"background-image: url(\"{Files.GetFileUrl(Node.ImageUrl)}\");";

    private string CardClass => string.Join(" ", 
        ["node-square", Highlighted ? "node-highlighted" : "", Selected ? "node-selected" : ""]);

    private string? BadgeText => Node != null ? string.Join(", ", Node.NodeTags.Select(t => t.Tag.Name)) : null;
}
