@page "/"

<PageTitle>Home</PageTitle>

<MudText Typo="Typo.h6" GutterBottom="true">Todo</MudText>
<ul>
    <li>Layout: front page, navigation buttons to get rid of sidebar</li>
    <li>Account: admin role - edit packs & join as host without restictions</li>
    <li>Pack edit: Upload image show preview, validate file type</li>
    <li>Support audio items</li>
    <li>Setup deployment - dockerfile</li>
    <li>Account: guest users</li>
    <li class="done">Player: show card item link types</li>
    <li class="done">Remove the client project</li>
    <li class="done">Account: add username</li>
    <li class="done">Host: show player cards</li>
    <li class="done">Game: state change notifications</li>
    <li class="done">Game: end game screen - show winner card(s), show pattern, errors & missed items</li>
    <li class="done">Host: show item linked items details</li>
</ul>

<style>
    li.done {
        text-decoration: line-through;
    }
</style>